[submodule "metatrustctf/lib/forge-std"]
	path = metatrustctf/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ctf"]
	path = lib/ctf
	url = https://github.com/MetaTrustLabs/ctf
[submodule "metatrustctf/lib/ctf"]
	path = metatrustctf/lib/ctf
	url = https://github.com/MetaTrustLabs/ctf
[submodule "lib/blazctf-2023"]
	path = lib/blazctf-2023
	url = https://github.com/fuzzland/blazctf-2023
